nav {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    width: 100%;
    padding: 0;
    display: flex;
}

ul li {
    display: inline;
    box-sizing: border-box;
    min-width: 100px;
    max-width: 133px;

    padding: 5px 10px;
    margin: 12.5px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(14, 186, 197);

}

ul li:first-child {
    font-size: 100%;
    color: rgb(14, 186, 197);
}

ul li:first-child a {
    font-size: 120%;
    color: rgb(14, 186, 197);
}


ul li:last-child {
    margin-right: auto;
}