.pagination {
    direction: ltr;

    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 30px;
}

.pagination__ul {
    width: 100%;
    padding: 0;

    display: flex;
    align-content: center;
    justify-content: center;

    margin: 0 auto;
}

.pagination__li {
    display: inline;

    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 100%;

    background-color: inherit;

    text-align: center;
    vertical-align: center;


    padding: 5px 13px;
}

.pagination__li--selected {
    display: inline;

    box-sizing: border-box;
    border: 1px solid rgb(67, 156, 238);
    border-radius: 100%;
    box-shadow: 0 0 2px 2px rgb(169, 223, 252);

    background-color: rgb(67, 156, 238);

    text-align: center;
    vertical-align: center;


    margin: 10px 10px;
    padding: 5px 13px;
}


.pagination__a {
    color: black;
    text-decoration: none;

    margin: 10px 10px;
}


.pagination__a--selected {
    color: white;
    text-decoration: none;

    margin: 10px 10px;
}


.pagination__a--disabled {
    color: grey;
    text-decoration: none;
    pointer-events: none;
    cursor: default;

    margin: 10px 10px;
}

.pagination__li--prevNext {
    border: none;
}

.pagination li:hover {
    border-color: rgb(67, 156, 238);
}

.pagination a:hover {
    color: rgb(67, 156, 238);
}

.postsPerPage {
    direction: rtl;

    min-width: 300px;
}
