.priceBox {
    background-color: white;

    grid-column: 1 / 2;
    grid-row-start: 3;

    border-radius: 5px;
}

.priceBox__title {
    text-align: right;
    margin-top: 15px;
}


.priceBox__divider {
    border: 0;
    height: 2px;
    margin: 18px 0;
    position: relative;
}


.priceBox__divider:before {
    content: "";
    display: block;
    border-top: solid 1px rgb(232, 232, 232);
    width: 100%;
    height: 2px;
}
