.productCard__wrapper {
    position: relative;

    padding: 15px;
}

.productCard {
    width: 100%;
    background-color: white;

    border-radius: 5px;

    height: 400px;
}

.productCard__upperSection {
    height: 80%;
}

.productCard__numSold {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgb(247, 247, 247);
    color: rgb(67, 156, 238);
    padding: 10px 15px;
    border-radius: 50%;
    box-shadow: 0 0 7.5px rgba(120, 120, 120, 0.5);
}

.productCard__img {
    margin-top: 12.5px;
    width: 220px;

    border-radius: 5px;
}

.productCard__name {
    text-align: right;
    margin-right: 20px;

    font-weight: normal;
    margin-bottom: 5px;
}

.productCard__category {
    text-align: right;
    margin-right: 20px;

    font-weight: normal;
    color: rgb(174, 174, 174);

    margin-top: 5px;
}


.productCard__divider {
    border: 0;
    height: 2px;
    position: relative;
}


.productCard__divider:before {
    content: "";
    display: block;
    border-top: solid 1px rgb(232, 232, 232);
    width: 80%;
    margin: 0 auto;
    height: 2px;
}

.productCard__lowerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto 10px;
}

.productCard__lowerSection button {
    background-color: rgb(6, 156, 245);
    border-color: rgb(6, 156, 245);
    border-style: solid;
    border-radius: 24px;

    padding: 5px 10px;


    color: white;
    box-shadow: 0 0 3px 3px rgb(169, 223, 252);
}
