.slider {
    /*margin: 0;*/
    width: 100%;

    position: relative;
}

.slider__arrow {
    position: absolute;

    width: 50px;
    top: 50%;
    height: 50px;

    z-index: 10;
}

.slider__arrow--right {
    right: 5%;
}

.slider__arrow--left {
    position: absolute;
    left: 5%;
}

.slider__img {
    width: 700px;
    margin: 0 auto;

    display: block;
}

.slider__slide {
    /*max-height: 100%;*/

    opacity: 0;
    transition-duration: 1s;
}

.slider__slide--active {
    opacity: 1;
    transition-duration: 1s;
}