.nav {
    background-color: white;

    min-height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__ul {
    width: 100%;
    padding: 0;
    display: flex;

    margin: 0 auto;
}

.nav__ul li {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    min-width: 100px;
    max-width: 150px;

    margin: 0 10px;
}

.nav__ul a {
    color: black;
    text-decoration: none;
}

.nav__ul a:hover {
    color: rgb(14, 186, 197);

}

.nav__ul li:first-child a {
    margin-right: 20px;
    font-size: 120%;
    color: rgb(14, 186, 197);
}

.nav__ul li:last-child {
    margin-right: auto;
}