/*.userProfileScreen {*/
/*    background-color: rgb(247, 247, 247);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.table {

    /*margin-bottom: 60px;*/
    background-color: white;
    border-collapse: collapse;

    border-radius: 1px;

    position: relative;
}


.table thead th {
    font-weight: normal;
    color: rgb(150, 150, 150);
}


.table span {
    padding: 15px 50px;

    display: block;
    border-bottom: 1px solid rgb(232, 240, 246);
}


.table th, .table td {
    padding-left: 0;
    padding-right: 0;
}

.table tr > td:first-child,
.table th:first-child {
    padding-right: 40px;
}

.table tr > td:last-child,
.table th:last-child {
    padding-left: 40px;
}