.registerScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerScreen__title {
    color: rgb(14, 186, 197);
    margin-bottom: 30px;
}