.adminReceiptView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminReceiptView__trackCodeInput {
    width: 450px;
    margin-bottom: 50px;
}

.adminProfileScreen__table {
    margin-bottom: 50px;
}